{% extends "public/templates/public_template.html"%}

{%block title%}{{title}}{%endblock title%}

{% block main %} 
<div class="login-back">
{%include "public/messages.html"%}

<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white text-dark" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 title-text">Login to MI FIT</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>

        
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
            <div class="login100-form-bgbtn"></div>
            <small class="text-muted ml-2 text-forgot">
                <a href="#">Forgot Password?</a>
            </small>
        </div>
    </form>
</div>

</div>

<div>
  <p class="mb-0">Don't have an account? <a href="{{ url_for('sign_up') }}" class="text-dark-50 fw-bold">Sign Up</a></p>
</div>

</div>
</div>
</div>
</div>
</div>
</section>
</div>


{% endblock main %}