
{% extends "public/templates/public_template.html"%}

{%block title%}About{%endblock title%}

{% block main %} 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">You spent</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{results[0]}} mins</span></h2>
                    <p class="m-b-0">on the bus<span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">You spent</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{results[1]}} mins</span></h2>
                    <p class="m-b-0">for driving<span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">You spent</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>{{results[2]}} mins</span></h2>
                    <p class="m-b-0">standing<span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">You spent</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{results[3]}} mins</span></h2>
                    <p class="m-b-0">on the train<span class="f-right"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">You spent</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{results[4]}} mins</span></h2>
                    <p class="m-b-0">Walking<span class="f-right"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Your daily calories usage</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{calories}} calories</span></h2>
                    <p class="m-b-0"><span class="f-right">comsume the same amount to stay the same</span></p>
                </div>
            </div>
        </div>
        {% if diet[0] %}
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Try {{diet[0]}} of 500 calories for</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{diet[1]}} days</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        {%else%}
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">keep your diet at this level</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>you re in good bmi range</span></h2>
                    <p class="m-b-0"><span class="f-right"></span></p>
                </div>
            </div>
        </div>
        {%endif%}

	</div>
</div>
{% endblock main %}
